.template {
    display: none;
}

.box .high,
.box .default {
    display: none;
}

body {
    display: flex;

    flex-flow: row wrap;
}

.box {
    padding: 1em;
    width: calc(25% - 2em);

    flex: none;
}
.box .url {
	color: grey;
	text-decoration: none;
}
.box .title {
	font-size: 14px;
	font-weight: bold;
}
.box .channel,
.box .date {
	font-size: 13px;
	font-weight: normal;
}
.box .thumbnail {
	width: 100%;
	height: auto;
}
